.banner{
    display: block;
    height: 90vh;
    position: relative;
    object-fit: cover;
    z-index: 30;
    padding-top:20px;
  }
  
  .bannerImg{
    filter:  brightness(0.7);
    -webkit-filter: brightness(0.7);
    z-index: 5;
    transform-origin: 50% 50%;

  }
  
  .bannerText {
    position: relative;
    top:50px;
    width: 100%;
    height: fit-content;
    margin: 20px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Segoe UI';
    font-style:oblique;
    font-size: 2rem;
    border-top:3px solid rgb(131, 255, 218);
    border-bottom:3px solid rgb(131, 255, 218);
    background-color: rgba(0, 0, 0, 0.486);
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold ;
    z-index: 10;
  }
  .bannerText > h2{
    padding: 0 10px 0;
    font-size: 24px;
    font-weight: normal;
  }